@{
	var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.HasNextPage ? "disabled" : "";
	var prevTab = !Model.HasPreviousPage ? "-1" : "0";
	var nextTab = !Model.HasNextPage ? "-1" : "0";
}



<nav>
	<ul class="pagination justify-content-center">
		<li class="page-item @prevDisabled">
			<a asp-action="Index"
			   asp-route-sortOrder="@ViewBag?.CurrentSort"
			   asp-route-pageNumber="@(Model.PageIndex - 1)"
			   asp-route-currentFilter="@ViewBag.CurrentFilter"
			   asp-route-dropdownSearchString="@ViewBag?.DropdownSearchString"
			   class="page-link" tabindex="@prevTab">
				Předchozí
			</a>
		</li>
		@if (Model.PageIndex != 1)
		{
			<li class="page-item">
				<a asp-action="Index"
				   asp-route-sortOrder="@ViewBag?.CurrentSort"
				   asp-route-pageNumber="1"
				   asp-route-currentFilter="@ViewBag.CurrentFilter"
				   asp-route-dropdownSearchString="@ViewBag?.DropdownSearchString"
				   class="page-link">
					1
				</a>
			</li>
		}

		@if (Model.HasPreviousPage && Model.PageIndex > 2)
		{
			<li class="page-item">
				<a asp-action="Index"
				   asp-route-sortOrder="@ViewBag?.CurrentSort"
				   asp-route-pageNumber="@(Model.PageIndex - 1)"
				   asp-route-currentFilter="@ViewBag.CurrentFilter"
				   asp-route-dropdownSearchString="@ViewBag?.DropdownSearchString"
				   class="page-link">
					@(Model.PageIndex - 1)
				</a>
			</li>

		}
		<li class="page-item active">
			<a class="page-link">@Model.PageIndex</a>
		</li>

		@if (Model.HasNextPage && Model.PageIndex != Model.TotalPages - 1)
		{
			<li class="page-item">
				<a asp-action="Index"
				   asp-route-sortOrder="@ViewBag?.CurrentSort"
				   asp-route-pageNumber="@(Model.PageIndex + 1)"
				   asp-route-currentFilter="@ViewBag.CurrentFilter"
				   asp-route-dropdownSearchString="@ViewBag?.DropdownSearchString"
				   class="page-link">
					@(Model.PageIndex + 1)
				</a>
			</li>
		}
		@if (Model.HasNextPage && Model.PageIndex != Model.TotalPages)
		{
			<li class="page-item">
				<a asp-action="Index"
				   asp-route-sortOrder="@ViewBag?.CurrentSort"
				   asp-route-pageNumber="@Model.TotalPages"
				   asp-route-currentFilter="@ViewBag.CurrentFilter"
				   asp-route-dropdownSearchString="@ViewBag?.DropdownSearchString"
				   class="page-link">
					@Model.TotalPages
				</a>
			</li>

		}
		<li class="page-item @nextDisabled">
			<a asp-action="Index"
			   asp-route-sortOrder="@ViewBag?.CurrentSort"
			   asp-route-pageNumber="@(Model.PageIndex + 1)"
			   asp-route-currentFilter="@ViewBag.CurrentFilter"
			   asp-route-dropdownSearchString="@ViewBag?.DropdownSearchString"
			   class=" page-link" tabindex="@nextTab">
				Další
			</a>
		</li>
	</ul>
</nav>