@model PaginatedList<Projekt.Models.InsurenceEvent>

@{
	ViewData["Title"] = "Seznam pojistných událostí";
}

<h1>Seznam pojistných událostí</h1>

<p>
	@if (User.IsInRole("admin"))
	{
		<a class="btn btn-success" asp-action="Create">Vytvořit pojistnou událost</a>
	}
</p>

<form asp-action="Index" method="get">
	<div class="d-flex align-items-center gap-2">
		<div>
			Hledat pomocí jména: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" class="index-custom-form" />
		</div>
		<div>
			<input type="submit" value="Vyhledat" class="btn btn-primary" /> |
		</div>
		<div>
			<a asp-action="Index">Zpátky na seznam</a>
		</div>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				Popis události
			</th>
			<th>
				Čás kdy událost proběhla
			</th>
			<th>
				Místo kde událost proběhla
			</th>
			<th>
				Pojištěnec
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@if (item.Description.Length > 15)
				{
					string descriptionShortened = item.Description.Substring(0, 12);
					<td>@descriptionShortened...</td>
				}
				else
				{
					<td>@Html.DisplayFor(modelitem => item.Description)</td>
				}
				<td>
					@Html.DisplayFor(modelItem => item.TimeOfEvent)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PlaceOfEvent)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Insurence.InsurenceHolder.FirstName)
					@Html.DisplayFor(modelItem => item.Insurence.InsurenceHolder.LastName)
					:
					@Html.DisplayFor(modelItem => item.Insurence.InsurenceHolder.Email)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a>
					@if (User.IsInRole("admin"))
					{
						<text>|</text>
						<a asp-action="Edit" asp-route-id="@item.Id">Upravit</a>
						<text>|</text>
						<a asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

<partial name="_Pagination" />
